<% title t(:change_mocks_order) %>

<h1><%= t :change_mocks_order %></h1>

<p class="subtitle">
  <%= t :mocks_sort_index_page_guide %>
</p>

<%= content_tag :div,
                class: 'sortable',
                data: {
                  mock_url: update_order_duckrails_mocks_path,
                  mock_method: :put,
                  mock_success_url: duckrails_mocks_path
                } do %>
    <% @mocks.each do |mock| %>
      <div class="clearfix mb-2 sorting-mock">
        <%= content_tag :div, data: { mock_id: mock.id, old_pos: mock.mock_order }, class: 'mock' do %>
          <div class="float-left mock-name">
            <%= mock.name %>
          </div>

          <div class="float-right mock-path ml-4 text-primary">
            <%= mock.route_path %>
          </div>

          <div class="float-right mock-request-method text-muted">
            <small><%= mock.request_method %></small>
          </div>
        <% end %>
      </div>
    <% end %>
<% end %>

<div class="page-actions mt-3">
  <%= link_to t(:cancel), duckrails_mocks_path, class: 'btn btn-secondary' %>

  <%= link_to t(:save), '#', class: 'btn btn-success update-mocks-order' %>
</div>
